<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="addInSettings" type="TestConfigAssembly.AddInSettings, TestConfigAssembly" />
	</configSections>
	<addInSettings info="xyz">
		<servers>
			<add name="Google" url="https://google.com"/>
			<add name="Bing" url="https://bing.com"/>
		</servers>
	</addInSettings>
</configuration>